<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	  <servers>
			      <server>
					            <username>admin</username>
							          <password>a35ca35f1745e76b9b8fabb7a2c4b17146651e45cbc2e67f630e6cd0dc5e8a42</password>
									        <id>central</id>
											    </server>
												        <server>
															      <username>admin</username>
																            <password>a35ca35f1745e76b9b8fabb7a2c4b17146651e45cbc2e67f630e6cd0dc5e8a42</password>
																		          <id>snapshots</id>
																				      </server>
																					        </servers>
																							  <mirrors>
																									      <mirror>
																											            <mirrorOf>*</mirrorOf>
																													          <name>maven-virtual</name>
																															        <url>https://artifactory-ha.dev.tri-ad.tech:443/artifactory/maven-virtual</url>
																																	      <id>maven-virtual</id>
																																		          </mirror>
																																				    </mirrors>
																																					      <profiles>
																																							          <profile>
																																										        <repositories>
																																													        <repository>
																																																          <snapshots>
																																																			              <enabled>false</enabled>
																																																					                </snapshots>
																																																								          <id>central</id>
																																																										            <name>maven-virtual</name>
																																																												              <url>https://artifactory-ha.dev.tri-ad.tech:443/artifactory/maven-virtual</url>
																																																														              </repository>
																																																																              <repository>
																																																																			                <snapshots />
																																																																						          <id>snapshots</id>
																																																																								            <name>maven-virtual</name>
																																																																										              <url>https://artifactory-ha.dev.tri-ad.tech:443/artifactory/maven-virtual</url>
																																																																												              </repository>
																																																																														            </repositories>
																																																																																          <pluginRepositories>
																																																																																			          <pluginRepository>
																																																																																						            <snapshots>
																																																																																									                <enabled>false</enabled>
																																																																																												          </snapshots>
																																																																																														            <id>central</id>
																																																																																																              <name>maven-virtual</name>
																																																																																																		                <url>https://artifactory-ha.dev.tri-ad.tech:443/artifactory/maven-virtual</url>
																																																																																																					        </pluginRepository>
																																																																																																							        <pluginRepository>
																																																																																																										          <snapshots />
																																																																																																												            <id>snapshots</id>
																																																																																																														              <name>maven-virtual</name>
																																																																																																																                <url>https://artifactory-ha.dev.tri-ad.tech:443/artifactory/maven-virtual</url>
																																																																																																																			        </pluginRepository>
																																																																																																																					      </pluginRepositories>
																																																																																																																						            <id>artifactory</id>
																																																																																																																								        </profile>
																																																																																																																										  </profiles>
																																																																																																																											    <activeProfiles>
																																																																																																																													        <activeProfile>artifactory</activeProfile>
																																																																																																																															  </activeProfiles>
																																																																																																																														  </settings>

